header nav {
    border-bottom: 11px solid black;
}

header {
    margin-bottom: 5em;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgb(161, 161, 161);
    color: white;
    text-align: center;
  }

footer p {
    margin-bottom: 0em;
}

.nav-right {
      float: right;
 }

 .active {
     border-bottom: 3px solid rgb(255, 94, 0);
 }

 #logo {
    width: auto;
    height: 3em;
}