    body {
    background-color: #f1eeee;
}

div.new-life {
    border-style: solid;
    border-width: medium;
    background-color: white;
    padding: 1em 2em;
}

.new-life h2 {
    text-align: center;
    font-weight: bold;
    margin-bottom: 1em;
    font-size: 1.8vmax;
}

.new-life p {
    font-size: 1.4vmax;
}

h5 {
    text-align: center;
    font-size: 1.8vmax;
}

@media (max-width: 769px) {
    h5 {
        font-size: 5vw;
    }

    .new-life {
        padding: 1em 0.5em;   
    }
    .new-life h2 {
        font-size: 5vw;
    }

    .new-life p {
        font-size: 4vw;
    }
}

.carousel-image {
    width: 100%;
    height: 90%;
}

.link-carousel {
    background-color: white;
    border-radius: 25px;
    padding: 1em;
    margin-top: 1em;
}

.caption-carousel {
    margin-bottom: 1em;
}

.dua-box {
    border: black;
    border-style: solid;
    background-color: white;
    height: 15em;
    width: 21em;
}

.container-box {
    display: grid;
    text-align: center;
    grid-column-gap: 5em;
    justify-content: space-evenly;;
}

#index-kalkulator {
    border: black;
    border-style: solid;
    background-color: #e9772a;
    display: grid;
    padding: 0.5em 0.5em 1em 0.5em;
}

.img-bmi {
    grid-column: 1;
    width: auto;
    justify-self: center;
    align-self: center;
}

.footer-main {
    display: flex;
    justify-content: center;
    border-top: 5px solid black;
    bottom: 0;
    width: 100%;
    padding-bottom: 2em;
}

#quote {
    font-style: italic;
}

@media (min-width: 768px) {
    .img-bmi {
        height: 20em;
    }

    #index-kalkulator {
        width: auto;
    }
    
    .konten-bmi h2 {
        margin: 1em 10em 0em 10em;
    }
}

@media (max-width: 768px) {
    .img-bmi {
        height: 10em;
    }
    
    #index-kalkulator {
        width: min-content;
    }
    
    .konten-bmi h2 {
        margin: 1em 2em 0em 2em;
    }
}

.konten-bmi {
    grid-column: 2;
    color: white;
    padding: 1em 1em;
}

.konten-bmi h3 {
    text-align: center;
    padding-bottom: 1em;
}

.konten-bmi p {
    font-size: 18px;
    padding: 0 2em;
}

.konten-bmi h2 {
    color: white;
    background-color: black;
    text-align: center;
    justify-self: center;
    border-radius: 25px;
}

@media (max-width: 768px) {
    .img-bmi {
        grid-column: 1;
    }
    
    .konten-bmi {
        grid-column: 1;
    }
}

#index-tentang-kita {
    border: black;
    border-style: solid;
    background-color: #e9772a;
    padding: 1em 2em 2em 2em;
    font-size: 1.2vw;
}


#index-tentang-kita h4 {
    background-color: black;
    color: white;
    text-align: center;
    width: 30%;
    padding: 0.5em 0em;
    margin: 0 auto;
    border-radius: 25px;
}

@media (max-width: 769px) {
    #index-tentang-kita {
        font-size: 4vw;
    }
    #index-tentang-kita h4 {
        font-size: 5vw;
        margin: 0 auto;
        width: 100%;
    }
}
.gap-content {
    margin: 3em 0em;
}

.h4-link {
    color: black;
}

.h4-link:hover {
    text-decoration: none;
}

@media (min-width: 700px) {
   #box-satu {
       grid-column: 1;
   }
  
   #box-dua {
       grid-column: 2;
   }
   div.content-main {
    padding: 3em 8em;
    background-color: #f1eeee;
}
}

@media (max-width: 700px) {
   .olahraga {
       grid-row-gap: 3em;
   }
   #box-satu {
       grid-row: 1;
   }
  
   #box-dua {
       grid-row: 2;
   }
   div.content-main {
    padding: 3em 3em;
    background-color: #f1eeee;
    }
}