header nav {
    border-bottom: 11px solid black;
}

header {
    margin-bottom: 5em;
}

body {
    font-family: 'Raleway', 'Open Sans';
}

footer .main{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgb(161, 161, 161);
    color: white;
    text-align: center;
  }

footer p {
    margin-bottom: 0em;
}

.footer-logo {
    display: flex;
    justify-content: center;
    border-top: 5px solid black;
    bottom: 0;
    width: 100%;
}

.footer-logo img{
    height: 4em;
    width: auto;
    margin: 0.5em 0em;
}

.nav-right {
      float: right;
 }

 .active {
     border-bottom: 3px solid rgb(255, 94, 0);
 }

 #logo {
    width: auto;
    height: 3em;
}