.container-or {
    padding-top: 3em;
    margin: 3em 0em;
}

.directory-or {
    margin-left: 3em;
}

.garis-pertama {
    margin-top: 3em;
    display: flex;
    justify-content: flex-end;
}

#pemula {
    margin: 0em 2em 0em 2em;
    color: orangered;
    order: 1;
    align-self: center;
}

#lanjutan {
    margin: 0em 2em 0em 2em;
    color: orangered;
    order: 2;
}

#orange-line-satu {
    border-top: 7px solid orangered;
    order: 2;
    width: 100%;
    align-self: center;
}

#orange-line-dua {
    border-top: 7px solid orangered;
    order: 1;
    width: 100%;
    align-self: center;
}

span {
      color: orangered;
}

.konten {
    display: grid;
    margin-top: 5em;
    row-gap: 4em;
}

.box-one {
    display: flexbox;
    grid-column: 2/4;
    grid-row: 1;
    background-image: linear-gradient(to right, rgb(255, 118, 68) 42% , white);
    height: 16em;
    border-radius: 25px;
}

.box-two {
    grid-column: 1/3;
    grid-row: 2;
    background-image: linear-gradient(to left, rgb(235, 22, 6) 42% , white);
    height: 16em;
    border-radius: 25px;
}

.box-three {
    grid-column: 2/4;
    grid-row: 3;
    background-image: linear-gradient(to right, rgb(134, 134, 134) 42% , white);
    height: 16em;
    border-radius: 25px;
}

