#logo {
    width: auto;
    height: 3em;
}

div.content-main {
    padding: 3em 5em;
    background-color: #f1eeee;
}

body {
    background-color: #f1eeee;
}

div.new-life {
    border-style: solid;
    border-width: medium;
    background-color: white;
}

body div h4 {
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 1em;
}

body div h5 {
    text-align: center;
}

header {
    margin-bottom: 5em;
}

@media only screen and (min-width: 1024px) {
    header {
        margin-bottom: 5em;
    }
}

.carousel-image {
    width: 100%;
    height: 15em;
}

#carouselExampleControls {
    width: 100%;
    margin: 0em 0em;
}

#carousel-inner {
    margin-left: 0em;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgb(161, 161, 161);
    color: white;
    text-align: center;
  }

footer p {
    margin-bottom: 0em;
}

.nav-right {
      float: right;
 }

 .olahraga-gender {
     border: black;
     border-style: solid;
     background-color: white;
 }

 .olahraga {
     display: grid;
     text-align: center;
 }

 #gender-laki {
     grid-column: 1;
 }

 #gender-perempuan {
     grid-column: 2;
 }